*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  font-family: "Oswald", sans-serif;
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  margin: auto; /* чтобы всегда по центру */
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  text-align: center;
}


.content__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.content__list-item {
  width: 390px;
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050; /* Цвет по макету */
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
    outline: none;
}

/* Показываем обводку только при фокусе с клавиатуры */
.content__card-link:focus-visible { 
    outline: 1px solid white; /* Бордер линк убран*/
}

.result {
  padding-top: 75px; /* Сверено */
  max-width: 711px;
}

.result__video-container {
  width: 711px; /* Иначе не поставить(потом подумать над альтернативой, а то точный размер = -адаптив) */
  height: 386px;
  position: relative; /* Для прелоудера */
} 

.result__video {
  width: 100%; /* Занимает всю ширину контейнера */
  height: 100%; /* Занимает всю высоту контейнера */
  object-fit: cover;
}

.content__details {
  margin-left: 25px;
  width: 100%; /* Высота убрана */
  display: flex;
  flex-direction: column;
  gap: 16px;   /* Отступы между заголовком и блоком с карточками */
}

.title {
  font-size: 75px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 94%; /* путь проценты работают...*/
  font-weight: 700;
  text-align: left;
}

.content__accent {
  color: #545050; /* Элемент по макету */
}

.search-form {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* распределяем элементы */
  align-items: flex-start;   /* прижимаем к верхней части контейнера */
  border: none;
}

.search-form__label {
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: fit-content;
  gap: 5px;
}


.search-form__textfield::placeholder { /* + к знаниям */
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield { 
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif; 
  padding: 0px;
  margin: 0px;
  appearance: none;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 18px;
  border-style: solid none;
  border-width: 1px;
  border-color: #fff;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* Состояния чекбокса */ 
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
  border-radius: 0px;
}

.search-form__textfield:focus-visible { /* Фикс был */
  outline: 1px solid white; /* Белая обводка вокруг всего лейбла */
  outline-offset: 1px;
  border-radius: 0px; /* Почему-то не работает */
}


.search-form__pseudo-checkbox {
  appearance: none;
  padding: 1px; /* для границы */ 
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  opacity: 1; /* показываем внутренний элемент */
}

.search-form__fieldset {
  font-family: 'Fira Sans Condensed', sans-serif;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: left;
}


.content__list-container {
  margin-left: 3px;
  margin-top: 8px;
  height: 298px;   /* Жёсткая высота, значение обновлено */
  overflow-y: auto;    /* Вертикальный скролл при переполнении */
  overflow-x: hidden;  /* Горизонтальный скролл отключён */
  position: relative; /* Для прелоудера */
}

.content__video-card {
  display: flex;
  align-items: flex-start; /* Прижимаем элементы к верху */
}

.content__video-card-thumbnail {
  margin-left: 0px;
  width: 194px; /* Ширина */
  height: 103px; /* Фиксированная высота */
  object-fit: cover; /* Обрезает избыточное пространство, сохраняя пропорции */
  object-position: left; /* ДУМАТЬ */
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  max-width: 196px;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  white-space: nowrap;       /* Запрещаем перенос */
  overflow: hidden;          /* Скрываем переполняющий текст */
  text-overflow: ellipsis;   /* Добавляем "…" при обрезке */
}

.content__video-card-description { 
  padding-top: 3px; /* Паддинги придумал Сатана... Он не встает ровно:( */
  font-family: 'Fira Sans Condensed', sans-serif;
  align-items: flex-start; /* Прижимаем элементы к верху */
  text-transform: none; /* Регистр починен */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  line-height: 16.2px;
  display: -webkit-box;      /* Необходимо для line-clamp, если верить стаковерфлоу */
  overflow: hidden;          /* Скрываем переполняющий текст */
  -webkit-line-clamp: 4;         /* Ограничиваем 4 строками */
  -webkit-box-orient: vertical;  /* Ориентация обрезки */
  text-overflow: ellipsis;       /* Добавляем "…" при обрезке */
} 
/* ПОСЛЕ ЗАПРЕТА ПЕРЕНОСА ТЕКСТ РЕЗКО ВСТАЛ ВЕРНО(не дышать на него) */

.button {  /* Общий класс для кнопок */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  min-height: 34px;
}

.search-form__submit-button {  /* Частный вариант для сабмит кнопки */
  margin-left: 0px;
  margin-top: 18px;
  width: 194px; /* В макете указано, что фиксировано, поэтому, наверное, можно? */
  align-items: flex-start;
}

/* Реакции для всех кнопок на действия пользователя */
.button:active { /* Настройка активного состояния кнопки */
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus-visible {
  outline: 1px solid white; /* Белая обводка вокруг всего лейбла */
  outline-offset: 3px;
  border-radius: 0px; 
}

.more-button {
  margin-top: 25px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}